<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>com.passio.Remodel-AR</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>remodel-ar</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.amazon.mobile.shopping.web</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.mixpanel.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Store</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>2ad4be9f85aa097e5f4545b6350e58f2</string>
	</dict>
</dict>
</plist>
